In [ ]:
import iris as ir

In [7]:
df = ir.get_iris_data()

-- trying to download from github
-- writing to local iris.csv file

In [30]:
df.shape()

TypeError: 'tuple' object is not callable

In [8]:
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [10]:
df.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object')

In [11]:
features = list(df.columns[:4])

In [12]:
features

['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']

In [14]:
df, targets = ir.encode_target(df, "Name")

In [15]:
y = df["Target"]

In [16]:
X = df[features]

In [17]:
dt = ir.DecisionTreeClassifier(min_samples_split=20, random_state=99)

In [18]:
dt.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=20, min_weight_fraction_leaf=0.0,
            presort=False, random_state=99, splitter='best')

In [19]:
df[df['PetalLength'] <= 2.45]['Name'].unique()

array(['Iris-setosa'], dtype=object)

In [25]:
ir.visualize_tree(dt, features)

In [27]:
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name  Target
0          5.1         3.5          1.4         0.2  Iris-setosa       0
1          4.9         3.0          1.4         0.2  Iris-setosa       0
2          4.7         3.2          1.3         0.2  Iris-setosa       0
3          4.6         3.1          1.5         0.2  Iris-setosa       0
4          5.0         3.6          1.4         0.2  Iris-setosa       0